<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net46" />
  <package id="TEC_Core_Library" version="1.2.50" targetFramework="net46" />
  <package id="TEC_Core_Scheduler_Library" version="1.0.35" targetFramework="net46" />
  <package id="TEC_Notification_Library" version="1.1.0" targetFramework="net46" />
  <package id="TimePeriodLibrary.NET" version="2.1.1" targetFramework="net46" />
</packages>